*{
	margin:0;
	padding: 0;
	font-family: 'Libre Baskerville', serif;
}

/* Diseño sección NAV BOOTSTRAP*/

nav{
	background: linear-gradient(to bottom, #C4F364, #42E898, #29EB6A);
	background-image: url(../img/12.jpg);
	height: 140px;
}

nav img{
	width: 90px;
	margin-top: 0;
}

nav ul a{
	margin-left: 85px;
	margin-right: 25px;
	font-size: 20px;
}

nav form{
	margin-left: 25px;
	float: right;
}

#navbarSupportedContent{
	margin-top: 25px;
}


/*Diseño de somos*/
#somos{
  padding-top: 80px;
  background-color:#6EEC98;
}

#somos:hover,
#mision:hover,
#vision:hover{
  background-color: #C7F366;
}

#mision,
#vision{
  width: 400px;
  display:inline-block;
  padding: 20px;
  margin-left: 150px;
}

#somos p{
  margin-left: 150px;
}

#somos h1{
  font-size: 206%;
  text-align: center;
}

/*Sección nuestros trabajos (carousel)*/
#trabajos{
  background-color: #127C5A;
}


 #trabajos h1{
	font-size: 206%;
  text-align: center;
  color: whitesmoke;
}

.flex-caption p{
  font-size: 169%; 
   background-color: #75A4AB; 
   color: whitesmoke;
}

/*Sección servicios*/

#hacemos{
  background-color:#6EEC98;
}

#hacemos p, 
#hacemos ul li{
  font-size: 15px;
}

#hacemos h1{
  font-size: 206%;
  text-align: center;
}

#lombricultura img, 
#huertos img,
#reciclaje img{
  width:95px;
  height:70px;
  border-radius:50%;
  margin-left: 50px;
}


#lombricultura,
#huertos,
#reciclaje{
  width: 250px;
  display:inline-block;
  padding: 20px;
  margin-left: 150px;
}

/*Sección contacto*/

#contacto{
  background-color: #127C5A;
}

#contacto p{
  text-align: center;
  padding: 10px;
  color: whitesmoke;
}

#contacto i{
  margin-left: 180px;
  color: whitesmoke;
}

#mail,
#fono{
  width: 400px;
  display:inline-block;
  margin-left: 200px;
}

#contacto h1{
  font-size: 206%;
  text-align: center;
  color: whitesmoke;
}


/*Sección footer*/

#pie-pag
{
	background-color:#6EEC98;
  height: 80px;

}

#pie-pag p{
  padding-top: 15px;
  text-align: center;
}


